*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
     width: 100%;
    height: 100%;
}

h1{
    color: red;
}

.colorediv{
    background-color: bisque;
    width : 100px;
    height: 100px;
    padding: 10px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#test{
     width:200px;
     height: 200px;
     background-color:black;
}

.test1{
    width:50%;
    height: 25%;
    background-color: aqua;
}